    <style>
        p{
            color: green;
        }
    .article {
        color: yellow;
    }
    #first{
        color: firebrick ;
    }
    </style>
    .container{
        background-color: orange;
    }